{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>{{car.name}}
      </h2>
      <h4>
        {% if car.readyToDrive %}
          Drivable and Ready
        {% else %}
          Not Drivable, Not Ready
        {% endif %}
      </h4>
      <h4>The color of this car is:
        {{car.color}}
      </h4>
      {% if car.owner == userId %}
        <div class="btn-group">
          {%- comment -%}
            first button will send us to the edit page
          {%- endcomment -%}
          <a class="btn btn-primary" href="/cars/edit/{{car.id}}">Edit</a>
          {%- comment -%}
            the second button(which will actually be a form, will send a DELETE request)
          {%- endcomment -%}
          <form action="/cars/{{car.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}}}